@import url(var.css);
@import url(root.css);


#fav-repas{
  padding: 52px 0px 0 0px;
  position: relative;
  overflow-y: hidden;
  height: 100%;
}

::-webkit-scrollbar{
 display: none;
}

#fav-repas .favrepas__top-container{
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  position: relative;
  margin-bottom: 30px;
}

#fav-repas .back__btn-container{
  height: 24px;
  width: 24px;
}

#fav-repas .favrepas__text-container{
  padding: 20px 0 0 0;
}

#fav-repas .favrepas__text-container h1{
  font-size: 26px;
  font-family: var(--font-primary-medium);
  color: var(--color-dark-green);
}

#fav-repas .favrepas__img-container{
  position: absolute;
  right: 0;
  z-index: 50;
  bottom: -40px;
}

#fav-repas .favrepas__img-container img{
  height: 131.08px;
}

#fav-repas .repas__container{
  background-color: #fff;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 100;
  transform: translateY(-10px);
    z-index: 1000;
    position: relative;
}


#fav-repas .repas__container .repas__title-container{
  text-align: center;
  position: relative;
  padding: 21px 28px 11px 28px;
}


#fav-repas .repas__container .repas__title-container h2{
  position: relative;
  font-size: 18px;
  font-family: var(--font-secondary-bold);
  color: var(--color-dark-primary);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  width: 100%;
  display: flex;
  justify-content: center;
}

#fav-repas .repas__container .repas__title-container h2 .nombre{
  color: var(--color-green);
  margin-right: 4px;
}

#fav-repas .repas__container .repas__title-container h2::after{
  position: absolute;
  bottom: -10px;
  content: '';
  display: block;
  height: 1px;
  width: 275px;
  background-color: #e7ecf3;
}

#fav-repas .recettes__container{
  overflow-y: auto;
  padding: 0px 20px 0 20px;
 max-height: 80vh;
  position: relative;
  text-overflow: ellipsis;
}

#fav-repas .recettes__container::-webkit-scrollbar{
  visibility: visible;
  display: block;
  width: 4px;
  height: 95%;
  margin-right: 20px;
  position: absolute;
  right: 10px;
}

#fav-repas .recettes__container::-webkit-scrollbar-thumb{
  background-color: var(--color-green);
  border-radius: 31px;
  background-clip: content-box;
}

#fav-repas .recettes__container::-webkit-scrollbar-track {
  background-color: rgba(49,114,69, 0.2);
  border-radius: 10px;
 max-height: 90%;
}


#fav-repas .repas__container::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  opacity: 0.8;
}


#fav-repas .recettes__container .recette__wrapper{
  max-width: 90%;
  margin-top: 10px;
}

#fav-repas .recettes__container .recette__wrapper h4{
  font-size: 15px;
  font-family: var(--font-secondary-bold);
  color: var(--color-green);
  line-height: 21px;
  padding: 10px 0;
}

#fav-repas .recettes__container .recette__wrapper p{
  font-size: 14px;
  font-family: var(--font-secondary-regular);
  color: var(--color-dark-gray);
  line-height: 20px;
}

#fav-repas .recettes__container .recette__wrapper p .recette__title{
  font-family: var(--font-secondary-bold);
}