@import url(var.css);
@import url(root.css);

#step-1{
  width: 100%;
  background-color: var(--color-background);
  padding: 68px 24px;
}

#step-1 .breadcrumb{
  height: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#step-1 .breadcrumb .breadcrum__item{
display: block;
width: calc(100% / 3);
background-color: var(--color-medium-green);
border-radius: 16px;
}

#step-1 .breadcrumb .breadcrum__item:not(:last-child){
  margin-right: 4px;
}

#step-1 .breadcrumb .breadcrum__item.active{
  background-color: var(--color-green-2);
}

#step-1 .step__content-container{
  margin-top: 50px;
  display: grid;
  grid-template-rows: auto 1fr;
}

#step-1 .step__content-container h1{
  font-family: var(--font-primary-medium);
  font-size: 27px;
  line-height: var(--line-height-2);
  margin-bottom: 30px;
}

#step-1 .step__content-container p{
  font-family: var(--font-secondary-regular);
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color-light-gray);
}

#step-1 .step__content-container .step__img-container{
  width: 100%;
  
}

#step-1 .step__content-container .step__img-container img{
  object-fit: none;
  
}

#step-1 .step__btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25%;
}

#step-1 .step__btn-container a {
  text-decoration: none;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

#step-1 .step__btn-container a.skip__btn{
  font-family: var(--font-secondary-medium);
  color: var(--color-green);
  opacity: 0.5;
}

#step-1 .step__btn-container a.next__btn{
  font-family: var(--font-secondary-bold);
  color: #fff;
  background-color: var(--color-green);
  padding: var(--padding-btn--light);
  border-radius: var(--border-1);
}